# Configuración de Base de Datos
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=empresarial
JWT_SECRET=super-secret-key-empresarial-123

# IPs Públicas de otras Nubes (Cambiar cuando AWS y GCP estén creados)
# Ejemplo: http://34.125.X.X:8000
GCP_ELECTRICAL_URL=http://tu_ip_de_google_cloud:8000

# Ejemplo: http://3.85.X.X:5000
AWS_IA_URL=http://tu_ip_de_aws:5000
AWS_DMS_URL=http://tu_ip_de_aws:8081
AWS_BLOCKCHAIN_URL=http://tu_ip_de_aws:8545
