# Credenciales Reales de AWS IAM (Usuario con permisos a S3 y DynamoDB)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_BUCKET_NAME=tu_bucket_de_fotos_aqui

# Nombres de tablas en AWS DynamoDB (Deberás crearlas manualmente en AWS)
DYNAMODB_DOCUMENTS_TABLE=dms-documents
DYNAMODB_AUDIT_TABLE=dms-audit-logs

# Llaves de Inteligencia Artificial Generativa (Para el análisis eléctrico)
OPENAI_API_KEY=sk-proj-tu-llave-aqui
OPENAI_MODEL=gpt-4o-mini
GROQ_API_KEY=gsk_tu-llave-aqui
